.contrast {
    background-color: #222831; color: white;
    font-family: 'Times New Roman', Times, serif, "Helvetica Neue", Helvetica, sans-serif;
    text-align: center;
}
.contrast h1 {
    padding: 10px;
    background-color: #393e46; color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
    text-decoration: underline;
}
.contrast h2 {
    padding: 10px;
    background-color: #393e46; color: white;
    font-family: "Roboto", "Lato", Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
    text-decoration: underline;
}
.contrast li{
    list-style-type: square;
    list-style-position: outside;
}
.contrast table{
    text-align: center;
    border-collapse: collapse;
    width: 100%;
}

.contrast th{
    background-color: #393e46; color: white;
}

.contrast td, th {
  border:1px solid black;
} 

.contrast a {
    outline: none;
    text-decoration: none;
    display: block;
    margin-left: 1%;
    background-color: red;
    padding: 10px;
    box-sizing: border-box;
    width:100%;
    color: white;
}

.contrast a:hover{
    background-color: tomato;
}
